div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}
.info {
	background: rgba(255,255,255,0.78);
	background:url(img/rgba/255/08.png) repeat\9;
	width: 100%;
	border-bottom: 1px solid white;
	text-align:justify;
}
.info .padding {
	padding: 25px;
}



input[type="text"], input[type="search"], input[type="date"],
input[type="tel"], textarea, select {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #dedede;
	padding: 4px 6px;	
	box-sizing : border-box;
}
textarea {
	font-family: 'Arimo',sans-serif;	
	font-size: 13px;
	resize: vertical;
	max-height: 150px;
	min-height: 30px;
	height: 40px;
	width: 100%;
}
input[type="button"], input[type="submit"] {
	width:100%;
	border-radius: 8px;
	padding: 5px;
	margin-top: 8px;	
	cursor: pointer;

	background-image: linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -o-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -moz-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -webkit-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -ms-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.33, #E0DDE0),
		color-stop(0.67, #F5F5F5)
	);
	border: 1px solid #bbb;
	transition: all 0.1s linear;
}
input[type="button"]:hover, input[type="submit"]:hover {
	transform: scale(1.03);
}
fieldset {
	border-radius: 8px;
	border: 1px solid #999;
}
fieldset legend {
	text-align: center;
	padding: 2px 12px;
	border-radius: 8px;
	background-image: linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -o-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -moz-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -webkit-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	background-image: -ms-linear-gradient(bottom, #E0DDE0 33%, #F5F5F5 67%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.33, #E0DDE0),
		color-stop(0.67, #F5F5F5)
	);
	border: 1px solid #bbb;
}
.option {
	padding: 2px;
	padding-left: 8px;
}
.option:hover { background: rgba(255,255,255,0.3); }


.last-results {
	border-radius: 8px;
	border-left: 1px solid #bbb;
}

.last-results tr td {
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding: 4px;
}

.last-results tr th {
	background: #bbb;
	color: black;
}


@media screen and (max-width: 769px) {
	p {
		line-height: 1em;
		margin-bottom: 40px	
	}
}